.featured-item{
    position: relative;
    background-image: url(../../assets/home/featured.jpg);
    background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.featured-item::before{
    content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
      pointer-events: none; /* Allows interaction with content */
}

.content {
    position: relative; /* Ensure content is above the overlay */
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
  }
